body {

  background-image: url("../images/background.jpg");
  background-size: cover;
  word-wrap: break-word;
  overflow: visible;

}
a:link {

  color: rgba(0,0,0,0.55);

}
a:visited {

  color: rgba(0,0,0,0.55);

}
a:hover {

  color: rgba(0,0,0,0.55);
  letter-spacing: 0.7px;

}
a:active {

  color: rgba(0,0,0,0.55);

}
li {

  margin-bottom: 5px;

}

.container2 {

  max-height: 80vh;
  max-width: 90vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;


}
.tiles{

  color: rgba(0,0,0,0.55);
  margin-right: auto;
  margin-left: auto;

}
.row {
  display: flex; /* equal height of the children */
}
.header {

  font-weight: lighter;
  margin-bottom: 0px;

}
.clock {

  font-size: 6em;
  margin-bottom: 0px;

}
.links {

  position: relative;
  padding-left: 80px;
  padding-bottom: 10px;
  text-align: left;
  font-size: 100%;

}
.quotes {

  font-weight: 500;
  padding: 5px 5px 15px 5px;

}
.boxes {

  display: inline-block;
  background-color: rgba(240, 240, 240, 1);
  border: none;
  text-align: center;
  margin-top: 8px;
  margin-right: 1%;

}
.box1 {

  float: left;
  width: 19%;
  margin-left: auto;
}
.box2 {

}
.box3 {
    width: 19%;
    margin-right: auto;

}
.box4 {

  width: 80%;
  margin-right: auto;
  margin-left: auto;

}
.box5 {

  width: 45%;
  margin-left: auto;

}
.box6 {

  width: 34%;
  margin-right: auto;

}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #F44336;
}
