body {

  background-color: #FAFAFA;
  background-size: cover;
  word-wrap: break-word;
  overflow: visible;

}
a:link {

  color: rgba(0,0,0,0.55);

}
li {

  margin-bottom: 5px;

}

.container2 {

  max-height: 80vh;
  max-width: 90vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;


}
.tiles{

  color: rgba(0,0,0,0.55);
  margin-right: auto;
  margin-left: auto;

}
.row {
  display: flex; /* equal height of the children */
}
.header.date {
  margin-bottom: 0px;
  font-weight: 300;
  .b {
    font-weight: 700;
  }
}
.clock {
  margin-bottom: 0px;
  width: 100%;
}
.date{

}
.links {

  position: relative;
  padding-left: 80px;
  padding-bottom: 10px;
  text-align: left;
  font-size: 100%;

}
.quotes {

  font-weight: 500;
  padding: 5px 5px 15px 5px;

}
.boxes {
  display: inline-block;
  background-color: rgba(240, 240, 240, 1);
  border: none;
  margin-top: 8px;
  margin-right: 1%;
}
.mdl-card__actions{
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.mdl-card.box1 {

  float: left;
  width: 25%;
  margin-left: auto;
}
.box2 {
  justify-content:center;
  text-align: center;
  width: 45%;
  padding-top: 45px;
}
.box3 {
    width: 25%;
    margin-right: auto;

}
.box4 {

  width: 80%;
  margin-right: auto;
  margin-left: auto;

}
.box5 {

  width: 45%;
  margin-left: auto;

}
.box6 {

  width: 34%;
  margin-right: auto;

}
